@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.myfont {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dark-scrollbar {
  scroll-behavior: smooth;
}

.dark-scrollbar::-webkit-scrollbar-track {
  background: #0b0f17;
  border-radius: 5px;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 5px;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}

::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: #0b0f17;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #464d60;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d4353;
}

/* Tokyo Night Colors + Halloween Theme */
body {
  background-color: #0f0f1a;
  color: #c8d3f5;
}

/* Row Hover */
tr:hover {
  background-color: #292929;
  transition: all 0.3s;
}

/* Glow Effect For User */
.animate-glow {
  background-color: #7f18bb;
  color: #000;
  box-shadow: 0px 0px 10px 1px #b344f3;
  transition: all 0.5s;
}

/* Table Border */
table {
  border: 1px solid #2c2d37;
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}